{% extends "header.html" %}
{% block title%}
Booking list
{% endblock%}
{% block content %}
<div>
    <h1>Booking Details</h1>
    <a href="{{ url_for('edit', id= '') }}" class="btn btn-info" id="addNewBtn"> ADD NEW</a>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th >#</th>
                <th >Entry ID</th>
                <th >Entry Date</th>
                <th >Patient Name</th>
                <th >Email</th>
                <th >Phone</th>
                <th >Address</th>
                <th >Age</th>
                <th >Appointment</th>
                <th >Additional Information</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>          
            {% for entry in data %}
            <tr>
                    <td>{{loop.index}}</td>
                    <td id="entryID" class="entryID">{{entry.id}}</td>
                    <td>{{entry.entryDate}}</td>
                    <td>{{entry.name}}</td>
                    <td>{{entry.email}}</td>
                    <td>{{entry.phone}}</td>
                    <td>{{entry.address}}</td>
                    <td>{{entry.age}}</td>
                    <td>{{entry.appointment}}</td>
                    <td>{{entry.additionalInfo}}</td>
                    <td>
                        <a href="{{ url_for('edit',id = entry.id) }}" class="btn btn-warning"> Update</a>
                        <a  class="btn btn-danger deleteBtn">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}